body {
    background-color: #C5CBE5;
    margin: 0; /* Eliminar margen predeterminado del cuerpo */
    font-family:'Sofia Sans';
    }
    header{
        background-color: #23347D;
        width: 100%;
        text-align: center;
        /*overflow: hidden; */
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*
        justify-content: center; /* Centrar contenido horizontalmente */
    }
    .barra {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px; /* Margen inferior */
    padding-bottom: 20px; /* Relleno inferior */
    }
    
    .botones {
        display: flex;
        justify-content: center; /* Centrar contenido horizontalmente */
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 100%;
        border: #ffffff;
    }
   

    .centrada {/*
        display: flex;
        align-items: center;
    */
    margin-bottom: 10px; 
    }
    
    .centrada h1{
        color:#ffffff;
        font-size: 80px;
        font-weight: 500;
        line-height: 50px;
        
    }
    

    .hamburger {
        display: none;
    }

    
    .nav-link-green,
    .nav-link-yellow, 
    .nav-link-red {
        font-weight:bolder;
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
    }
.nav-link-green,
.nav-link-yellow,
.nav-link-red {
    display: flex;
    background-color: #23347D;
    border-radius: 30px; /* Borde redondeado */
    margin-right: 10px; /* Espacio a la derecha */
    padding: 20px 30px; /* Relleno interno */
    height: 30px;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    box-shadow: 0 2px 4px #00000094; /* Sombra */
    color: #ffffff;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid #ffffff; /* Añade un borde blanco de 2px */
}

    .nav-link-green:hover,
.nav-link-yellow:hover,
.nav-link-red:hover {
    background-color: rgba(255, 165, 0, 0.8); /* Color naranja con opacidad */
}
    
    main {
        flex: 1; /* El contenedor principal toma todo el espacio disponible */
        display: flex;
        flex-direction: column;
        align-items: center; /* Centra el contenido horizontalmente */
    }
    .banner {
        position: relative;
        width: 100%;
        height: 600px; /* Ajusta la altura según sea necesario */
        overflow: hidden;
    }
    
    .banner img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
        z-index: -1; /* Para que la imagen de fondo esté detrás del contenido */
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .titulo {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-10%, -50%);
        background-color: rgba(105, 105, 138, 0.508);
        border-radius: 50px;
        box-shadow: 20px 40px 30px #23347D;
        padding: 5px 5px;
        color: #23347D;
        font-size: 40px;
        font-weight: 600;
        text-align: center; /* Centra el texto horizontalmente */
        z-index: 1; /* Asegura que el título esté delante de la imagen */
    }
    
    .tarjetas {
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
        gap: 20px; /* Espacio entre los elementos (1cm) */
        justify-content: center; /* Centra los elementos horizontalmente */
        margin: 20px 20px;
    }
    
    .memberCard {
        background-color: #23347D;
        box-shadow: 0px 5px 20px 5px #00000094; /* Sombra */
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-direction: column; /* Apila los elementos verticalmente */
        border-radius: 20px; /* Borde redondeado */
        padding: 40px; /* Añade espacio interno */
        width: calc(33.33% - 6.67px); /* Ancho de cada tarjeta menos la mitad del gap total para un espaciado uniforme */
        max-width: none; /* Elimina la restricción de ancho máximo */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        color: #ffffff;
        align-items: center;
        text-align: center;
        font-size: 30px;
    }
    .tituloserv h1{
        color:  #364791;
        text-shadow: 0px 1px black;
        margin-top: 20px; /* Baja el título del borde superior */
        margin-bottom: 20px; /* Añade espacio debajo del título */
        text-align: right; /* Centra el texto */
        font-size: 2.5em; /* Ajusta el tamaño del texto del título */


    }
    .servtarjetas {
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-wrap: nowrap; /* Evita que los elementos se envuelvan */
        gap: 20px; /* Espacio entre los elementos (1cm) */
        justify-content: center; /* Centra los elementos horizontalmente */
        margin: 20px 20px;
        height: auto;
    }
    
    .servmemberCard {
        background-color: #23347D;
        box-shadow: 0px 5px 20px 5px #00000094; /* Sombra */
        display: flex; /* Utiliza flexbox para alinear imágenes horizontalmente */
        flex-direction: column; /* Apila los elementos verticalmente */
        border-radius: 20px; /* Borde redondeado */
        padding: 20px; /* Añade espacio interno */
        width: calc(33.33% - 13.34px); /* Ancho de cada tarjeta menos la mitad del gap total para un espaciado uniforme */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del divisor */
        color: #ffffff;
        align-items:center;
        text-align: center;
        font-size: 20px;
    }

    .servmemberCard Img {
        max-width: 100%; /* Asegura que la imagen no se salga del contenedor */
        max-height: 400px;
        width: auto;
        height: auto; /* Mantiene la proporción de la imagen */
        margin-bottom: 10px; /* Añade espacio debajo de la imagen */
        border-radius: 10px; /* Bordes redondeados para la imagen */
    }

    .containerrepo {
        background-color: #364791;
        display: flex; /* Utiliza flexbox para alinear elementos horizontalmente */
        flex-direction: column; /* Apila los elementos verticalmente */
        border-radius: 20px; /* Borde redondeado */
        padding: 40px 20px; /* Añade espacio interno */
        margin: 40px; /* Añade margen alrededor del contenedor */
        width: 90%; /* Ancho del contenedor */
        max-width: 1400px; /* Máximo ancho para centrado en grandes pantallas */
        box-sizing: border-box; /* Incluye el padding en el ancho */
        overflow: hidden; /* Oculta el contenido que desborda del contenedor */
        color: #ffffff;
        align-items: center; /* Centra los elementos horizontalmente */
        margin-bottom: 1cm; /* Espacio abajo */
    }
    
    .containerrepo h1 {
        color: #ffffff;
        margin-top: 20px; /* Baja el título del borde superior */
        margin-bottom: 20px; /* Añade espacio debajo del título */
        text-align: right; /* Centra el texto */
        font-size: 2.5em; /* Ajusta el tamaño del texto del título */
    }
    
    .containerrepo ul {
        list-style-type: none; /* Elimina los puntos de la lista */
        padding: 0; /* Elimina el padding predeterminado */
        margin: 0; /* Elimina el margen predeterminado */
        text-align: center; /* Centra el texto de la lista */
    }
    
    .containerrepo ul li {
        font-size: 30px; /* Tamaño del texto */
        line-height: 1.5; /* Ajusta la altura de la línea para mejorar la legibilidad */
        margin: 10px 0; /* Añade margen superior e inferior */
    }
    .contact-form-section {
        margin-bottom: 40px;
    }
    
    .contact-form {
        display: flex;
        flex-direction: column;
    }
    
    .contact-form label {
        font-size: 1.2em;
        color: #364791;
        margin-bottom: 10px;
    }
    
    .contact-form input,
    .contact-form textarea {
        font-size: 1em;
        padding: 10px;
        margin-bottom: 20px;
        border: 2px solid #364791;
        border-radius: 10px;
        width: 100%;
        box-sizing: border-box;
    }
    
    .contact-form button {
        font-size: 1.2em;
        color: #fff;
        background-color: #23347D;
        padding: 15px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .contact-form button:hover {
        background-color: #1b275e;
    }
    
    .contact-info-section {
        background-color: #364791;
        color: #fff;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
        margin: 20px;
    }
    
    .contact-info-section ul {
        list-style-type: none;
        padding: 0;
    }
    
    .contact-info-section li {
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    
    .contact-info-section a {
        color: #fff;
        text-decoration: underline;
    }
    
    .contact-info-section a:hover {
        text-decoration: none;
    }

    
    

    @media (max-width: 768px) {
        .hamburger {
            display: block;
            background-color: transparent;
            left: 0;
            top: 0;
            height: 30px;
            width: 30px;
            padding: 20px 20px;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            -webkit-transition: -webkit-transform 0.25s
              cubic-bezier(0.05, 1.04, 0.72, 0.98);
            transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
            z-index: 1002;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          .hamburger.is-active {
            background-color: none;
          }
          ._layer {
            margin-bottom: 4px;
            border-radius: 2px;
            width: 28px;
            height: 4px;
            opacity: 1;
          }
          .-top{
            background-color: white;
          }
          .-mid{
            background-color: white;
          }
    
          .-bottom{
            background-color: white;
          }
    
          .menuppal.is_active {
            transform: translate3d(0px, 0px, 0px);
          }
          .menuppal {
            display: flex;
            background-color: #fcfcd7;
            bottom: 0;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            transform: translate3d(0px, -100%, 0px);
            transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
            width: 100%;
            z-index: 1001;
          }
           .menuppal {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                }
            

            .botones {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
            }
        
        
          .botones {
            flex-direction: column;
            align-items: center;
            justify-content: top;
            margin: 35%;
            padding: 0;
          }
          .menuppal ul li {
            list-style: none;
            text-align: center;
            font-size: 1.5rem;
            line-height: 3em;
            height: 3em;
            color: #ffffff;
            text-transform: none;
            font-weight: bold;
        }
        .centrada h1{
            font-size: 300%;
        }
        .banner{
            height: 200px;
        }
    
        .titulo {
            font-size: 14px; 
        width: 100%; /* Las tarjetas ocuparán el ancho completo del contenedor */
        max-width: none; /* Elimina la restricción de ancho máximo */
        margin-left: -40%;
    
       }
        .projectCard {
            height: 300px;
            flex-direction: column; /* Cambia la dirección del flex a columna en pantallas pequeñas */
            align-items: center; /* Centra los elementos horizontalmente */
        }
        .infoTitle{
            font-size: 20px;
            margin-bottom: 2px;
        }
        .info p{
            font-size: 14px;
        }
    
    .tarjetas {
        flex-direction: column; /* Apila las tarjetas verticalmente */
        align-items: center; /* Centra las tarjetas horizontalmente */
    }

    .memberCard {
        height: 400px;
        font-size: 20px;
        width: 60%; /* Las tarjetas ocuparán el ancho completo del contenedor */
        max-width: none; /* Elimina la restricción de ancho máximo */
    }
    .servtarjetas {
        flex-direction: column; /* Apila las tarjetas verticalmente */
        align-items: center; /* Centra las tarjetas horizontalmente */
    }

    .servmemberCard {
        height: 200px;
        font-size: 20px;
        width: 60%; /* Las tarjetas ocuparán el ancho completo del contenedor */
        max-width: none; /* Elimina la restricción de ancho máximo */
    }
    .servmemberCard img{
        height: 43%;
    }

    .memberCard img{
        height: 200px;
    }
    }
    footer {
        background-color:#23347D;
        text-align: center; /* Centrar el texto horizontalmente */
        padding: 5px 0;
        box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Añadir una ligera sombra para la separación visual */
        width: 100%; /* Asegura que el footer ocupe el ancho completo */
        font-size: 14px; /* Ajustar el tamaño de la letra si es necesario */
        opacity: 0.75; /* Ajusta el nivel de transparencia según tu preferencia */
        color: #ffffff;
    }
